# Docker Compose configuration
COMPOSE_PROJECT_NAME=yourprojectname

# PostgreSQL configuration
POSTGRES_DB=yourdbname
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpass

# Redis configuration
REDIS_PASSWORD=yourpass

# Email configuration
EMAIL_OPTIONS__SMTP_SERVER=smtp.gmail.com
EMAIL_OPTIONS__PORT=587
EMAIL_OPTIONS__USERNAME=example@gmail.com
EMAIL_OPTIONS__PASSWORD=16charactersgeneratedpass
EMAIL_OPTIONS__SENDER_EMAIL=example@gmail.com
EMAIL_OPTIONS__SENDER_NAME=example

# AvatarStorage configuration
AVATAR_STORAGE_OPTIONS__SERVICE_URL=serviceurl
AVATAR_STORAGE_OPTIONS__BUCKET=bucketname
AVATAR_STORAGE_OPTIONS__ACCESS_KEY=youraccesskey
AVATAR_STORAGE_OPTIONS__SECRET_KEY=yoursecretkey
AVATAR_STORAGE_OPTIONS__BASE_URL=bucketbaseurl

# MessageStorage configuration
MESSAGE_STORAGE_OPTIONS__SERVICE_URL=serviceurl
MESSAGE_STORAGE_OPTIONS__BUCKET=bucketname
MESSAGE_STORAGE_OPTIONS__ACCESS_KEY=youraccesskey
MESSAGE_STORAGE_OPTIONS__SECRET_KEY=yoursecretkey

# ApiOptions configuration
API_OPTIONS__BASE_URL=yourbaseurl
API_OPTIONS__API_PREFIX=/api

# Encription configuration
ENCRYPTION__KEY=YourEncryptionKeyAES-256

# ASP.NET Core configuration
ASPNETCORE_ENVIRONMENT=Production

# Connection strings
CONNECTION_STRINGS__POSTGRES=Host=postgres;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
CONNECTION_STRINGS__REDIS=redis:6379,password=${REDIS_PASSWORD},abortConnect=false

# JWT configuration
JWT_OPTIONS__SECRET_KEY=yourjwtsecretkey
JWT_OPTIONS__EXPIRES=30

# Ports
API_PORT=8080